<header class="header">
<!--
    <div class="header__logo">
        <a href="/">
            <img class="logo" src="/lib/images/THoR_Logo_200x200.jpg">
        </a>
    </div>
-->
<!--
    <nav class="header__nav">
        <ul>
            <li><a href="/episodes">Episodes</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bibliography">Bibliography</a></li>
            <li><a href="http://revolutionspodcastfundraiser.com/">Store</a></li>
            <li><a href="http://www.revolutionspodcast.com/">Revolutions</a></li>
        </ul>
    </nav>
-->
    
        <nav class="header__nav">
            <a href="/">Book</a>
            <a href="/tour">Tour</a>
            <a href="/praise">Praise</a>
            <a href="/author">Author</a>
            <a href="/contact">Contact</a>
    </nav>
    
</header>
